body
{
  background-image: url("v12.png");
  background-repeat: no-repeat;
  background-size: cover;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  
  margin: 8px 0;
  box-sizing: border-box;
}

.col{
  width: 300px;
  height: 305px;
  border-style: solid;
  float: center;
  position: static;
  padding-top: 0px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 0px;
  background-color: white;
  border-radius: 5px; 
  margin-right: 50px;
  margin-top: 150px;
  margin-left: 260px;
}
.col button
{
  size: 70px;
  cursor: pointer;
}